.title{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}

.title h1{
  margin-left: 20px;

}


.line{
  width: 800px;
  border-bottom: 2px solid black;
  margin-left: 20px;

}


.wrapper1{
  margin: 20px;
}

.wrapper1 img{
  width: 100%;
  height: 300px;
}


.container1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}


.wrapper1{
  width: 400px;
  height: 485px;
}

.wrapper1:hover{
  scale: 1.05;
  transition: .4s ease-in-out;
}


.container1 li{
  list-style: none;
}

.brandName{
  font-size: 30px;
  font-weight: 900;
}

.brandDescription{
  width: 100%;
  padding: 10px 10px 10px  0;
}

.wrapper1 button{
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  background-color: black;
  font-size: 15px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}